<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PING CHAT</title>
    <link href="../assets/css/style.css" type="text/css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
        <div class="logo-area">
            <img src="../assets/imgs/ping_logo.png">
        </div>

        <div class="chat-area">
            <div class="chat-deco">
                <span class="deco-btn">X</span>
            </div>

            <div class="nick-value">
                <form id="nick-form" method="post" action="ping">
                    <p>닉네임을 입력하세요</p>
                    <input type="text" name="nickname">
                    <input type="submit" value="GO">
                </form>
            </div>
        </div>
    </div>
  </body>
</html>
