<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, autoRotate:disabled" http-equiv="ScreenOrientation">
    <title>PING CHAT</title>
    <link rel="stylesheet" href="../assets/css/style.css"/>
  </head>
  <body>
    <div class="container">
        <div class="logo-area">
            <img src="../assets/imgs/ping_logo.png">
        </div>

        <div class="chat-area">
            <div class="chat-deco">
                <span class="deco-btn">X</span>
            </div>

            <div class="chat-value">
                <div class="chat-content-area">
                    <ul class="chat-content">
                        <!-- <li class="chat chat-system">어쩌구님이 들어오셨습니다.</li>
                        <li class="chat chat-me public">
                            <span class="chat-name">나</span>
                            <span class="chat-text">개소리 쌉소리 개소리 쌉소리</span>
                        </li>
                        <li class="chat chat-me private">
                            <span class="chat-name">나</span>
                            <span class="chat-text">개소리 쌉소리 개소리 쌉소리</span>
                        </li>
                        <li class="chat chat-notme public">
                            <span class="chat-name">어쩌구님</span>
                            <span class="chat-text">개소리 쌉소리 개소리 쌉소리</span>
                        </li>
                        <li class="chat chat-notme private">
                            <span class="chat-name">어쩌구님</span>
                            <span class="chat-text">개소리 쌉소리 개소리 쌉소리</span>
                        </li>
                        <li class="chat chat-notme public">
                            <span class="chat-name">어쩌구님</span>
                            <span class="chat-text">
                                <img src="../assets/imgs/ping_logo.png" class="chat-img">
                            </span>
                        </li>
                        <li class="chat chat-me public">
                            <span class="chat-name">어쩌구님</span>
                            <span class="chat-text">
                                <img src="../assets/imgs/ping_logo.png" class="chat-img">
                            </span>
                        </li>  -->
                    </ul>
                       
                    <form class="chat-input">

                        <!-- mobile user list -->
                        <ul class="mobile-user-list hide">
                            <li>헤헤헤</li>
                        </ul>

                        <div class="chat-input-top">
                            <span id="file-btn">
                                <em class="file-btn-line"></em>
                                <em class="file-btn-line"></em>
                            </span>
                            <em id="mobile-user-btn"></em>
                        </div>

                        <div class="chat-input-bottom">
                            <div class="chat-status-wrap">
                                <span>FROM</span>
                                <input type="text" id="nickname" value="ME" readonly onfocus="this.blur()">
                                <input type="hidden" id="socket-me" readonly>
                                <span>TO</span>
                                <input type="text" id="to" value="ALL"  readonly onfocus="this.blur()">
                                <input type="hidden" id="socket-to" value="ALL" readonly>
                            </div>
                            <input id="chat-msg" autocomplete="off" onkeypress="enterInput(this)">
                            <button>PING</button>
                        </div>
                    </form>
                </div>
 
                <!-- nickname change modal -->
                <div class="nickname-modal hide">
                    <div class="modal-wrap">
                        <p>닉네임 바꾸기</p>
                        <input type="text" id="new-nickname" onkeypress="enterInput(this)">
                        <button id='nickname-btn'>CHANGE</button>
                    </div>
                </div>

                <!-- file upload modal -->
                <div class="upload-modal hide">
                    <div class="modal-wrap">
                        <p>사진 업로드</p>
                        <img src="../assets/imgs/ping_logo.png" class="file-box">
                        <input type="file" id="upload-file" accept="image/*" class="hide">
                        <button id='upload-btn'>UPLOAD</button>
                    </div>
                </div>

                <!-- image modal -->
                <div class="img-modal hide">
                    <div class="img-box">
                        <em id="img-close-btn"></em>     
                        <div class="img-wrap">
                            <img>       
                        </div>    
                    </div>
                </div>

                <!-- current user list -->
                <div class="chat-user-area">
                    <ul class="user-list">
                        <li class="user-counter">현재 접속자 <span id="cur-user">-</span>명</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"></script>

    <script>
        var socket = io();

        $(function(){
            // set private msg
            $(document).on('click', '.user-list > li', function(){
                if (!($(this).hasClass('user-counter'))) {
                    if ($(this).hasClass('private-to')) {
                        $('#to').click();
                    } else {
                        $('.user-list > li').removeClass('private-to');
                        
                        $('#to').val($(this).text());
                        $('#socket-to').val($(this).find('input').attr('data-id'));
                        
                        $(this).addClass('private-to');
                        $('#chat-msg').focus();
                    }
                }
            });


            // set public msg
            $('#to').click(function(){
                $(this).val('ALL');
                $('#socket-to').val('ALL');

                $('.user-list > li').removeClass('private-to');
                $('#chat-msg').focus();
            })


            // send message to server
            $("form").submit(function(e) {
                e.preventDefault();
                var nickname = $('#nickname').val();
                var to = $('#socket-to').val();
                var text = $('#chat-msg').val();

                var data = JSON.stringify({"nickname": nickname, "to": to, "text": text});

                socket.emit('sendMsg', data);
                $('#chat-msg').val("");

                return false;
            });


            // login user
            socket.on('login', function(data){
                console.log(data.nickname);

                $('#nickname').val(data.nickname);
                $('#socket-me').val(data.socketId);
                $('#chat-msg').focus();

                updateUserList(data.userList);
                alwaysScrollDown();
            });


            // logout user
            socket.on('logout', function(data){
                $('.chat-content').append("<li class='chat chat-system'>" + data.nickname + " 님이 퇴장하셨습니다.</li>" );

                updateUserList(data.userList);
                alwaysScrollDown();
            });


            // login sombody
            socket.on('newUser', function(data){
                $('.chat-content').append("<li class='chat chat-system'>" + data.nickname + " 님이 입장하셨습니다.</li>" );

                updateUserList(data.userList);
                alwaysScrollDown();
            });


            // change nickname
            $('#nickname').click(function(){
                $('.nickname-modal').removeClass('hide');
                $('#new-nickname').focus();
            });

            $('#nickname-btn').click(function(){
                var oldNickname = $('#nickname').val();
                var newNickname = $('#new-nickname').val();

                var data = JSON.stringify({"oldNickname": oldNickname, "newNickname": newNickname});

                socket.emit('changeNickname', data);
            });


            // receive and display others message
            socket.on('chatOthers', function(data){
                console.log(data);

                if (data.to == 'ALL') {
                    $('.chat-content').append("<li class='chat chat-notme public'><span class='chat-name'>" + data.nickname + "</span><span class='chat-text'>" + data.text + "</span></li>" );
                } else {
                    $('.chat-content').append("<li class='chat chat-notme private'><span class='chat-name'>" + data.nickname + "</span><span class='chat-text'>" + data.text + "</span></li>" );
                }
                alwaysScrollDown();
            });


            // receive and display my message
            socket.on('chatMe', function(data){
                console.log(data);

                if (data.to == 'ALL') {
                    $('.chat-content').append("<li class='chat chat-me public'><span class='chat-name'>" + data.nickname + "</span><span class='chat-text'>" + data.text + "</span></li>" );
                } else {
                    $('.chat-content').append("<li class='chat chat-me private'><span class='chat-name'>" + data.nickname + "</span><span class='chat-text'>" + data.text + "</span></li>" );
                }
                alwaysScrollDown();
            });


            // change nickname result
            socket.on('nickChange', function (data){
                $('.nickname-modal').addClass('hide');
                $('#new-nickname').val("");

                $('.chat-content').append("<li class='chat chat-system'>" + data.msg + "</li>" );

                alwaysScrollDown();
                updateUserList(data.userList);
            });

            socket.on('setNewNickname', function(data){
                $('#nickname').val(data.nickname);
            });


            // hide and clear modals
            $(document).mouseup(function (e){
                var modal = $(".modal-wrap");
                if( modal.has(e.target).length === 0){
                    $('.nickname-modal').addClass('hide');
                    $('.upload-modal').addClass('hide');
                    $('.img-modal').addClass('hide');

                    $('#new-nickname').val('');
                    $('#upload-file').val('');

                    $('.file-box').attr('src', '../assets/imgs/ping_logo.png');
                }
            });


            // image upload
            $('#file-btn').click(function(){
                $('.upload-modal').removeClass('hide');
            });

            $('.file-box').click(function(){
                $('#upload-file').click();
            });
            
            $(document).on('change', '#upload-file', function(e){
                setImgThumb(e.target);
            });


            // send image
            $('#upload-btn').click(function(){
                var nickname = $('#nickname').val();
                var to = $('#socket-to').val();

                var fdata = new FormData();
                fdata.append('file', $('#upload-file').prop('files')[0]);

                $.ajax({
                    url: "/upload",
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: fdata,
                    success: function(res) {
                        if (res.result === "success") {
                            var data = JSON.stringify({ 'nickname': nickname, 'to': to, 'file': res.data.path});

                            socket.emit('sendImg', data);

                            $('#upload-file').val('');
                            $('.file-box').attr('src', '../assets/imgs/ping_logo.png');
                            $('.upload-modal').addClass('hide');
                        } else {
                            alert('앗 무언가 잘못됐습니다!');
                        }
                    }
                });

            });


            // receive and display others image
            socket.on('imgOthers', function(data){
                console.log(data);

                if (data.to == 'ALL') {
                    $('.chat-content').append("<li class='chat chat-notme public'><span class='chat-name'>" + data.nickname + "</span>"
                                            + "<span class='chat-text'><img src='" + data.file + "' class='chat-img'></span></li>" );
                } else {
                    $('.chat-content').append("<li class='chat chat-notme private'><span class='chat-name'>" + data.nickname + "</span>"
                                            + "<span class='chat-text'><img src='" + data.file + "' class='chat-img'></span></li>" );
                }
                alwaysScrollDown();
            });


            // receive and display my image
            socket.on('imgMe', function(data){
                console.log(data);

                if (data.to == 'ALL') {
                    $('.chat-content').append("<li class='chat chat-me public'><span class='chat-name'>" + data.nickname + "</span>"
                                            + "<span class='chat-text'><img src='" + data.file + "' class='chat-img'></span></li>" );
                } else {
                    $('.chat-content').append("<li class='chat chat-me private'><span class='chat-name'>" + data.nickname + "</span>"
                                            + "<span class='chat-text'><img src='" + data.file + "' class='chat-img'></span></li>" );
                }
                alwaysScrollDown();
            });


            // show image modal
            $(document).on('click', '.chat-img', function(){
                $('.img-modal').removeClass('hide');
                $('.img-wrap > img').attr('src', $(this).attr('src'));
            });

            
            // mobile user list - working
            $('#mobile-user-btn').click(function(){
                $('.mobile-user-list').removeClass('hide');
                $(this).addClass('btn-activate');
            });


            // function - image thumbnail
            function setImgThumb(input) {
                if(input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        // alert(e.target.result);
                        $('.file-box').attr('src', e.target.result);
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }


            // function - scroll down
            function alwaysScrollDown() {
                $(".chat-content").scrollTop($(".chat-content")[0].scrollHeight);
            }


            // function - update user list
            function updateUserList(userList){
                $('.user-list').empty();
                $('.user-list').append('<li class="user-counter">현재 접속자 <span id="cur-user">' + Object.keys(userList).length + '</span>명</li>');

                for(var i in userList){
                    console.log(userList);
                    $('.user-list').append('<li>' + userList[i] + '<input type="hidden" data-id="'+ i +'"></li>');
                }
            }


            // function - send message using enter key
            function enterInput(e) {
                if (window.event.keyCode == 13) {
                    // var target = $(e.target).next();
                    // console.log(target);
                    // target.onclick();
                    $(form).submit();

                }
            }
        })
    </script>



  </body>
</html>
