* {
    margin: 0;
    padding: 0;
    font-size: 15px;
}
ul {
    list-style: none;
    overflow-x: hidden;
    overflow-y: auto;
}
button {
    cursor: pointer;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
    background: #888; 
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.logo-area {   
    width: 100%;   
    display: flex;
    justify-content: center;
    margin: 15px 0 40px;
}
.logo-area > img {
    width: 12em;
}

.chat-area {
    width: 67%;
    height: 65vh;
    margin: 15px auto;
    border: 1px solid #222;
    position: relative;
}
.chat-deco {
    width: 100%;
    height: 30px;
    background-color: #222;
    position: absolute;
    top: -28px;
    left: -1px;
    border: 1px solid #222;
}
.deco-btn {
    font-size: 13px;
    color: #efefef;
    border: 1px solid #efefef;
    padding: 3px;
    text-align: center;
    float: right;
    margin: 2px;
    cursor: default;
}
.chat-value {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: #fff;
}
.chat-content-area {
    width: 65%;
    height: 100%;
}
.chat {
    margin-bottom: 15px;
}
.private {
    color: mediumslateblue;
}
.chat-me {
    text-align: right;
    margin-right: 5px;
}
.chat-system {
    text-align: center;
    background-color: #efefef;
    font-size: 13px;
    padding: 2px 0;
}
.chat-content {
    width: 96%;
    margin: 20px auto;
}
.chat-name {
    display: block;
    font-size: 12px;
    margin-bottom: 2px;
    font-weight: bold;
}
.chat-text {
    display: block;
}
.chat-img {
    width: 35%;
    cursor: pointer;
}


.chat-input {
    width: 65%;
    height: 24%;
    position: absolute;
    bottom: 0;
    left: -1px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding-bottom: 20px;
}
.chat-input-top {
    width: 100%;
    height: 20%;
    border-top: 1px solid #222;
    border-bottom: 1px solid #222;
    padding: 3px 0;
    z-index: 3;
}
#file-btn {
    position: absolute;
    top: 4%;
}
#file-btn:hover {
    cursor: pointer;
}
#file-btn > em {
    width: 18px;
    height: 18px;
    display: inline-block;
    position: absolute;
}
#file-btn > .file-btn-line:nth-child(1) {
    border-right: 1px solid #222;
}
#file-btn > .file-btn-line:nth-child(2) {
    border-left: 1px solid #222;
    transform: rotate(-90deg);
    top: -8.5px;
    left: 9px;
}
/* for mobile */
#mobile-user-btn {
    display: none;
    width: 15px;
    height: 15px;
    border-top: 1px solid #222;
    border-right: 1px solid #222;
    position: absolute;
    right: 10px;
    top: 10%;
    transform: rotate(-45deg);
}
.btn-activate {
    transform: rotate(135deg);
    top: -5px;
}
.mobile-user-list {
    width: 99%;
    height: 38%;
    background: #fff;
    position: absolute;
    top: 0px;
    border-top: 1px solid #222;
    padding: 6px 0px;
}
.list-active {
    top: -41.5%;
}
.mobile-user-list > li {
    float: left;
    width: 31%;
    text-align: right;
    padding: 2px 0 2px 3px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.chat-input-bottom {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
}
.chat-status-wrap {
    width: 10%;
    display: flex;
    flex-direction: column;
}
.chat-status-wrap > span {
    font-size: 13px;
}
.chat-status-wrap > input {
    width: 100%;
    border: 1px solid #222;
    padding: 2px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    outline: none;
    overflow: hidden;
}
#chat-msg {
    width: 66%;
    border: none;
    border-bottom: 1px solid #222;
    resize: none;
    padding: 10px;
    outline: none;
}
.chat-input-bottom > button {
    width: 60px;
    height: 60px;
    border: 1px solid #222;
    background-color: #222;
    color: #efefef;
    outline: grey;
}

.chat-user-area {
    width: 35%;
    height: 100%;
    border-left: 1px solid #222;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-list {
    width: 90%;
    height: 90%;
    border: 1px solid #222;
}
.user-list > li {
    padding: 8px;
    cursor: pointer;
}
.user-list > .private-to {
    color: mediumslateblue;
}
.user-list > li:nth-child(2n){
    background-color: #efefef;
}
.user-counter {
    text-align: right;
    cursor: default;
}
#cur-user {
    font-weight: bold;
}

.nickname-modal,
.upload-modal,
.img-modal {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 100;
    position: absolute;
}
.modal-wrap {
    width: 300px;
    height: 240px;
    padding: 30px;
    background: #fff;
    border: 1px solid #222;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.modal-wrap > input {
    outline: none;
    border: 1px solid #222;
    padding: 3px;
    text-align: center;
}
.file-box {
    width: 60%;
    height: 65%;
    margin: 13px 0;
    border: 1px solid #222;
    cursor: pointer;
}
.img-box {
    width: 500px;
    height: 350px;
    background-color: #fff;
    border: 1px solid #222;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.img-box > em {
    width: 14px;
    height: 14px;
    margin: 4px 4px 4px 0;
    display: block;
    background-color: #222;
    cursor: pointer;
}
.img-wrap {
    width: 100%;
    height: 87%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-wrap > img {
    max-width: 100%;
    height: 100%;
}
.hide {
    display: none;
}
.activate {
    display: block;
}

/* index.ejs */
.nick-value {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#nick-form {
    width: 44%;
    height: 150px;
    padding: 40px 20px;
    border: 1px solid #222;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
#nick-form > p,
.modal-wrap > p {
    font-size: 19px;
}
#nick-form > input[type="text"],
#newNickname {
    width: 60%;
    text-align: center;
    border: 1px solid #efefef;
    background-color: hsl(0, 0%, 94%);
    padding: 6px;
    margin: 40px 0 20px 0;
    outline: none;
}
#nick-form > input[type="submit"],
#nickname-btn,
#upload-btn {
    width: 30%;
    height: 50px;
    border: 1px solid #222;
    background-color: #222;
    color: #efefef;
    outline: grey;
    cursor: pointer;
}


/* PC */
@media all and (min-width:1024px) {
    .chat-content {
        height: 66%;
    }
}

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/ 
@media all and (min-width:768px) and (max-width:1023px) { 
    .chat-area {
        width: 90%;
        height: 75vh;
    }
    .chat-value {
        width: 100%;
    }
    .chat-content-area {
        width: 100%;
    }
    .chat-content {
        height: 73%;
    }
    .chat-input {
        width: 100%;
    }
    .chat-input-top {
        height: 20%;
    }
    .chat-user-area {
        display: none;
    }
    #file-btn {
        top: 11%;
    }
    #mobile-user-btn {
        top: 15%;
    }
} 

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/ 
@media all and (max-width:767px) and (orientation:portrait) {
    * {
        font-size: 12px;
    }
    #nick-form > p, .modal-wrap > p {
        font-size: 15px;
    }
    .logo-area > img {
        width: 8em;
    }
    .chat-area {
        width: 90%;
        height: 80vh;
    }
    .chat-value {
        width: 100%;
    }
    .chat-content-area {
        width: 100%;
    }
    .chat-content {
        height: 70%;
    }
    .chat-user-area {
        display: none;
    }
    .chat-input {
        width: 100%;
    }
    .chat-input-top {
        height: 20%;
    }
    .chat-input-bottom > button {
        height: 30px;
        vertical-align: bottom;
    }
    .chat-input-bottom {
        display: block;
    }
    .chat-status-wrap {
        width: 100%;
        display: block;
    }
    .chat-status-wrap > input {
        width: 16%;
    }
    .chat-status-wrap > span {
        margin-left: 10px;
    }
    #chat-msg {
        margin: 0 0 0 10px;
        width: calc(100% - 100px);
    }
    .modal-wrap {
        width: 170px;
        height: 150px;
        padding: 20px;
    }
    .file-box {
        width: 55%;
        height: 85%;
    }
    #file-btn {
        top: 11%;
    }
    #mobile-user-btn {
        top: 15%;
    }
}